*{
    margin: 0;
}
/* herder style */
.header{
    background-image: url(../images/banner2.png);
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    width: 100%;
    padding-top: 100px;
    font-weight: 700;
    font-size: 35px;
    color:black;
}
.nav{
    text-align:left;
    
    margin-left: 130px;

}
.main-title{
    margin-bottom: 20px;
    text-align: left;
    width: 400px;
   
}
.paragraph{
    font-weight: 700px;
    font-size: 18px;
    text-align: left;
    width: 400px;
    margin-bottom: 40px;
}
.button{
    background-color: orangered;
    border: none;
    padding: 10px 10px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
}
/* adding image */
.image{
    text-align: center;
   margin-top: 100px;
   margin-left: 60px;
   display: flex;
   justify-items: center ;
   
   
}
.image-sr{
    margin-left: 400px;

}

.my-problems{
   margin-left: 600px;
    display: block;
    margin-top: 150px;
    margin-left: 100px;
    align-items: center;

}
    

.problems{
    margin-top:150px ;
    font-weight: 700px;
    font-size: 55px;
   
   
}
    
   

.problem-title{
    font-weight: 400;
    font-size: 25px;
    margin-top: 25px;
    width: 400px;
    
    margin-bottom:50px ;
    
}
.li-menu{
     justify-content: space-between;
     
     font-weight: 400px;
    font-size: 22px;
    width: 300px;
    list-style: lower-roman;
}


/* third section */
.third-header{
   text-align: center;
   font-weight:700;
    width: 800px;
    margin-left: 400px;
}
.plane{
    font-weight:700px;
    width: 800px;;
    font-size: 55px;
    text-align: center;
    margin-top: 80px;
    margin-left: 500px;
    margin-bottom: 80px;
}
.head{
    margin-top: 150px;
    text-align: center;
    font-weight: 700px;
    font-size: 40px;
}
 .planes-title{ 
   text-align: center;
    display:flex; 
   
    gap: 40px;
    
    font-weight: 700px;
    font-size: 20px;
}
.planes-sub-title{
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 30px;
    width: 100%;
    text-align: center;
}
.fourth-head{
    
  margin-left: 10px;
  margin-right: 100px;
}
.fourth-header-title{
    margin-top: 80px;
    background-repeat: no-repeat ;
   
    margin-left: 300px;
    
    
    padding-top: 60px;
    padding-bottom: 65px;
    padding-right: 100px;
    font-weight: 700;
    font-size: 35px;
    color:black;
    width: 100%;
    background-image:url(../images/watch.png) ;
}
.positive-mindset{
    padding-bottom: 150px;
    font-weight: 700px;
    font-size: 20px;
}


/* adding footer */
.footer-title{
    margin-top: 220px;
    padding-left: 180px;
    text-align: left;
   background-color: black;
   color: white;
   padding-top: 100px;
   padding-bottom: 100px;
   display: flex;
   
}
.future{
    font-weight: 700px;
    font-size: 60px;
    margin-bottom: 20px;
}
.future-sub-title{
    font-weight: 400px;
    font-size: 30px;
    width: 400px;
    margin-bottom:20px ;
}
.websites{
    display: flex;
    
}
.website-new{
    margin-left: 10px;
    /* subscribe us */
}
.same{
    
}

.subscribe{
    font-weight: 700;
    font-size: 40px;
    margin-left: 450px;
   margin-top: 150px;
   
}
.subscribe-title{
    margin-bottom: 30px;
}
.email{
    font-weight: 500;
    font-size: 25px;
    padding: 10px 10px;
    background-color:aliceblue;
    border-radius: 5px;
    margin-bottom: 15px;
}
.button{
    font-weight: 500;
    font-size: 25px;
}


